[workspace]
members = ["cargo:."]

# Config for 'dist'
[dist]
cargo-dist-version = "0.30.3"
ci = "github"
installers = ["shell", "powershell"]
targets = [
  "aarch64-apple-darwin",
  "aarch64-unknown-linux-gnu",
  "x86_64-apple-darwin",
  "x86_64-unknown-linux-gnu",
  "x86_64-pc-windows-msvc"
]
# Path that installers should place binaries in
# Note: I'm not yet sure this works well on Windows
install-path = "~/.local/bin"
# Whether to install an updater program
install-updater = false
# Custom build setup for installing wasm32 target
github-build-setup = "build-setup.yml"

[[bin]]
name = "tui"

[[bin]]
name = "cli"

[[bin]]
name = "discord-bot"

[[bin]]
name = "load-tester"

[[artifact]]
name = "gromnie-wasm-scripts"
type = "archive"
description = "WebAssembly scripts for Gromnie"
build-command = ["cargo", "xtask", "scripts", "build"]

[[artifact.include]]
path = "target/wasm32-unknown-unknown/release/hello_world_script.wasm"
dest = "scripts/"

[[artifact.include]]
path = "target/wasm32-unknown-unknown/release/auto_login_script.wasm"
dest = "scripts/"

[[artifact.include]]
path = "target/wasm32-unknown-unknown/release/file_logger_script.wasm"
dest = "scripts/"
