[package]
name = "auto-login-script"
version.workspace = true
authors.workspace = true
edition.workspace = true
license.workspace = true
publish = false

[dependencies]
wit-bindgen.workspace = true

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"
